# Local LLM
# LLM_PROVIDER=ollama
# LLM_API_URL=http://host.docker.internal:11434/api/generate
# OLLAMA_MODEL=llama3

#-------------------------------------------------------

# Django Settings
DJANGO_SECRET_KEY=django-dev-key-change-in-production-xk29fm3
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

#-------------------------------------------------------

# LLM Wrapper API
LLM_PROVIDER=wrapper
LLM_API_TOKEN= ## not included due to security reason
LLM_API_URL=## <ll-wrapper base url>/llm/query

# LLM Request Timeout (seconds)
LLM_REQUEST_TIMEOUT=30

# LLM Request Timeout (seconds)
LLM_REQUEST_TIMEOUT=30